<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Try Hammer</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <h1>Try Hammer!</h1>
    <noscript>Hello! You're probably security conscious and have Javascript turned off. Unfortunately, you need Javascript turned on, as Codebox, the web IDE we use, requires it.</noscript>
    <a href="/request_server" class="btn btn-primary">Try hammer!</a>
  </body>
</html>
